body {
    margin: 0;
    min-width: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #FDFFFF;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #FDFFFF;
    display: flex;
    flex-shrink:0;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    width: 200px;
    height: auto;
    padding: 8px;
    margin: 0;
}

.links a {
    font-size: 20px;
    text-decoration: none;
    color: #094074;
}

.hero {
    background-color: #14213D;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.hero-photo {
    width: 400px;
    height: auto;
    margin: 0;
    padding: 10px;
}

.hero-btn {
    padding: 20px 30px;
}


.info {
    background-color: orange;
    height: 100px;
}

.quote {
    background-color: green;
    height: 100px;
}

.cta {
    background-color: pink;
    height: 100px;
}

.footer {
    background-color: grey;
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 8px;
    display: flex;
    gap: 16px;
}



h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #FDFFFF;
}